/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.watchlist::-webkit-scrollbar { 
  height: 50px;
  width : 5px;
  border-radius: 50px;
}

.watchlist::-webkit-scrollbar-track { 
background-color: black;
border-radius: 5px;
}

.watchlist::-webkit-scrollbar-thumb { 
  background-color: #f5f5f5;
  border-radius: 5px;
 }

 .watchlist {
  overflow-x: hidden;
 }

